body {
    background-color: #232323;
    
}
h1 {
    color: #ffffff;
}
.selected {
    background: blue;
}
#strip {
    background: #ffffff;
    height: 30px;
    text-align: center;
    color: #232323;
}
#container {
    max-width: 600px;
    margin: 0 auto;
}
.square {
    width: 30%;
    padding-bottom: 30%;
    background: #1db772;
    float: left;
    margin: 1.66%;
}