body {
    background-color: #232323;
    
}
h1 {
    color: #ffffff;
}
span {
    color: #ffffff;
}
#container {
    max-width: 600px;
    margin: 0 auto;
}
.square {
    width: 30%;
    padding-bottom: 30%;
    background: #1db772;
    float: left;
    margin: 1.66%;
}